@model PedidoAZ.Models.PedidoModel

@{
    ViewData["Title"] = "Delete";
}
<div class="text-center">
<h1>Excluir Pedido</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <span>Produto</span>
@*            @Html.DisplayNameFor(model => model.Produto)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto)
        </dd>
        <dt class = "col-sm-2">
            <span>Nome do Cliente</span>
@*            @Html.DisplayNameFor(model => model.NomeCliente)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            <span>Endereço</span>
@*            @Html.DisplayNameFor(model => model.Endereco)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            <span>Data do Pedido</span>
@*            @Html.DisplayNameFor(model => model.DataPedido)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt class = "col-sm-2">
@*            @Html.DisplayNameFor(model => model.Recebido)*@
        </dt>
@*        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recebido)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <br/>
        <br/>
        <a asp-action="Index">Voltar para Pedidos</a>
    </form>
</div>
</div>
